# Python venv
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoint

# Logs
logs/
*.log

# Kaggle data & outputs (Git 管理外)
#data/
outputs/
models/
oof/
catboost_info/

# Build / Packaging
*.egg-info/
kaggle_template.egg-info/

# System files
.DS_Store
Thumbs.db

# uv lock cache (必要なら残してOK)
.uv/
